PORT = 
NODE_ENV = development

MONGO_URI = ""
API_ORIGIN = "<your_client_origin>"
JWT_SECRET = ""
JWT_EXPIRES_IN = "15m"
JWT_REFRESH_SECRET = ""
JWT_REFRESH_EXPIRES_IN = "30d"

MAILER_SENDER = ""
SENDING_EMAIL_ADDRESS = ""
SENDING_EMAIL_PASSWORD = ""